[Desktop Entry]
Name=Common Voice Status
Name[sv]=Status för Common Voice
Comment=View Mozilla Common Voice recording statistics
Exec=commonvoice-status
Icon=se.danielnylander.CommonVoiceStatus
Terminal=false
Type=Application
Categories=Utility;Audio;
Keywords=common voice;mozilla;speech;statistics;
StartupWMClass=se.danielnylander.CommonVoiceStatus
